.navigation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-color: navy;
    border-style: solid;
    border-bottom-width: 10px;
    border-top-width: 10px;
    background-color: #F5F5F5;
    color: black;
    font-family: 'Shrikhand', cursive;
}

.nav-container {
    background-color: #F5F5F5;
}
.nav-link {
    padding: 10px 15px;
    cursor: pointer;
}
    
  