.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 11vh;
    padding-bottom: 1vh;
    font-size: 1vw;
    background-color: #F5F5F5;
}
